@tailwind base;
@tailwind components;
@tailwind utilities;
.header__title-gradient {
    background: linear-gradient(to bottom, white, rgb(99, 104, 172));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}